
#header .navbar-default{
    background: #303d4a;
    border: 0;
    border-radius: 0;
    margin:0;
}
#header .navbar-default li .btn{
    border:0;
    background: #303d4a;
    color: #fff;
    outline: none;
}
#header a{color: #fff}
#header .form-control{
    display: inline-block;
}

#header .search_hid{display: none}
#header .toggleButton{
    display: inline-block;
    position: absolute;
    right: 32px;
    top: 11px;
    width: 28px;
    height: 31px;
    padding:13px 30px 7px 0px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#header .toggleButton span.sh:before{
    box-sizing: border-box;
    top: -9px;
}
#header .toggleButton span.cha:before{
  transform: rotate(45deg);
}
#header .toggleButton span.sh:after,#header .toggleButton span.sh:before,#header .toggleButton span.sh,#header .toggleButton span.cha:after,#header .toggleButton span.cha:before,#header .toggleButton span.cha{
    cursor: pointer;
    height: 3px;
    width: 28px;
    right: 0;
    background: #c9c9c9;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
}
#header .toggleButton span.cha{
    background-color: transparent;

}
#header .toggleButton span.sh:after{
    top: 9px;;
}
#header .toggleButton span.cha:after{
    transform: rotate(-45deg);
}
#header .basic_sign{
    height: 60px;
    cursor: pointer;
}
#header .basic_sign .userinfo{
    line-height: 60px;
    color: #fff;
}
#header .basic_sign .userinfo img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px 0px 10px 10px;
    float: right;
}
#header ul.dropMenu{
    width: 100px;
    position: absolute;
    border: 1px solid #d1dbe5;
    box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.12);
    padding: 6px 11px;
    line-height: 33px;
    margin-top: 7px;
    background-color: #fff;
    z-index: 1000;
}
#header ul.dropMenu li{
    list-style: none;
}
#header ul.dropMenu li a{
    color: #000;
}

#header .head_wrap a{
    color: #000000;
}
#header .head_wrap li{
    list-style: none;
    float: left;
}
#header .head_wrap .left{line-height: 50px}
#header .head_wrap .logo{float: left;margin-right: 28px}
#header .head_wrap .logo img{width: 50px}
#header .head_wrap .logo span{font-size: 20px;margin-left: 10px}
#header .head_wrap .nav li{    padding: 0 17px;
    font-size: 16px;}




@media screen and (min-width: 992px){
    #header .head_wrap .left{
        width: 70%;
        float: left;
    }
}
@media screen and (max-width: 992px){
    #header .head_wrap .left{
        width: 65%;
        float: left;
    }
    #header .head_wrap .nav li{
        padding:0 9px;
    }
}
@media screen and (max-width:691px){
    #header .head_wrap .left{
        width: 100%;
        float: left;
    }
    #header .head_wrap .right{
        display: none;
    }
}
@media screen and (max-width:457px){
    #header .head_wrap .logo{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #header .navbar-default .navbar-nav{
        position: fixed;
        height: 100%;
        background: #252b31;
        right: 0;
        top: 0;
        width: 0;
        margin: 0;
        transition: all 0.4s ease-in-out;
        z-index: 1000;
    }
    #header .search_input{
        display: block;
    }
    #header .search_input input{
        width: 170px;
        margin-left: 19px;
        border-radius: 10px;
    }
    #header .search{
        display: none;
    }
    #header .search_hid{
        display: none;    position: absolute;
        top: 7px;
        right: 31px;
        color: red;
        cursor: pointer;
    }
    #header .pull-right{
        margin-right: 22px;
    }
    #header .basic_sign{
        position: absolute;
        right: 40px;
        top: -5px;

    }
    #header ul.dropMenu{
        position: absolute;
        right: 28px;

    }

}


@media screen and (min-width: 768px) {
    #header .toggleButton{
       display: none;
    }
}

