/***********************************
            /* GUI */
/***********************************/
/* extend class */
.font, .headline__category, .article__text, .article__time, .projects__title__h2, .block-title__view-all, .projects__title__view-all, .twitter__header__name, .twitter__header__text, .message__time, .message__text, .message__link, .title__h1, .redaction__category, .redaction__title, .redaction__text, .redaction__time, .comments .media-middle, .comments .media-body, .current__text, .weather__temperature em, .weather__city__list li a, .exchange__name, .exchange__course, .exchange__course span {
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    color: #4e4e4e;
}

.transition, .wsmenu-list > li > a::before, .thumbnail__link img, .banner__link, .nav-tabs > li > a, .share .bg, .share .bg_facebook, .share .bg_twitter, .share .bg_google, .share__link, .tags ul li a, .message__link, .btn-comment, .error__right .error__list li .link::after, .social__item .facebook, .social__item .twitter, .social__item .gplus, .weather__city__list li, .weather__city__list li a {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.absolute-arrow, .weather__city em::before, .exchange__course span::before {
    position: absolute;
    content: '';
    top: 50%;
    right: -15px;
    width: 9px;
    height: 9px;
    margin-top: -7px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: transparent;
}

/* end extend class */
/* button ajax_load*/
.ajax_load {
    position: relative;
    width: 128px;
    height: 40px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background: #ffffff;
    color: #4e4e4e;
}

.ajax_load i {
    display: inline-block;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
}

.ajax_load:hover i {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

svg rect, svg path, svg polyline {
    fill: none;
    stroke: #4e4e4e;
    stroke-width: 1;
}

.ajax_load:hover svg rect {
    stroke: #4e4e4e;
}

/* end button ajax_load*/
/* Basic Box */
svg rect {
    stroke-dasharray: 400, 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

.ajax_load:hover svg rect {
    stroke-width: 3;
    stroke-dasharray: 35, 245;
    stroke-dashoffset: 64;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

/* form hover effect */
.form-control::-webkit-input-placeholder {
    text-indent: 10px;
    -webkit-transition: text-indent 0.4s ease-in;
    transition: text-indent 0.4s ease-in;
}

.form-control:focus::-webkit-input-placeholder {
    text-indent: 999px;
}

/* end form hover effect */
/* yellow line in title word*/
.yel_line, .yellow-line, .underscore {
    position: relative;
}

.yel_line::after, .yellow-line::after, .underscore::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    background: #f38844;
    height: 2px;
    width: 30px;
}

/* end yellow line in title word*/
/* thumbnail image hover */
.thumbnail__link {
    position: relative;
}

.thumbnail__link::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.thumbnail__link:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}
/* end thumbnail image hover */
.container {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.row {
    margin-right: -10px !important;
    margin-left: -10px !important;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px !important;
    padding-left: 10px !important;
}
/***********************************
            /* END GUI */
/***********************************/

/***********************************
            /* FONTS */
/***********************************/
/* SVG - fonts */
@font-face {
    font-family: 'fontello';
    src: url("../fonts/fontello.eot?44020949");
    src: url("../fonts/fontello.eot?44020949#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?44020949") format("woff"), url("../fonts/fontello.ttf?44020949") format("truetype"), url("../fonts/fontello.svg?44020949#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-sun:before {
    content: '\e800';
}

.icon-euro:before {
    content: '\e801';
}

.icon-search:before {
    content: '\e802';
}

.icon-down-open:before {
    content: '\e803';
}

.icon-up-open:before {
    content: '\e804';
}

.icon-play:before {
    content: '\e805';
}

.icon-facebook:before {
    content: '\e806';
}

.icon-gplus:before {
    content: '\e807';
}

.icon-twitter:before {
    content: '\e808';
}

.icon-eye:before {
    content: '\e809';
}

.icon-comment-empty:before {
    content: '\e80a';
}

.icon-reply:before {
    content: '\e80b';
}

.icon-arrows-cw:before {
    content: '\e80c';
}

/* end SVG - fonts */
/* fonts (в head подключен шрифт с Google-fonts) */

/***********************************
        /* END FONTS */
/***********************************/

